.criminalList {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-evenly;
}

.criminal {
    flex-basis: 20%;
    width: 20%;
    border: 3px solid darkgreen;
    padding: 0 8px;
    margin: 0 4px;
    margin-bottom: 8px;
    margin-top: 12px;
    color: black;
    background-color: darkgrey;
}