
.criminal {
    flex-basis: 28%;
    width: 20%;
    border: 3px solid darkgreen;
    padding: 0 8px;
    margin: 0 4px;
    margin-bottom: 8px;
    margin-top: 12px;
    color: black;
    background-color: darkgrey;
}