@import './criminal.css';
@import './officer.css';
@import './nav.css';



body {
    background-color: grey;
}

h1 {
    background-color: darkgreen;
    color: white;
    padding: 10px 8px;
    text-align: center;
    box-shadow: 1px 2px 2px black;
    text-shadow: 1px 1.5px 1.5px black;
}